<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MediaCenterUser</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MediaCenterUser.styles.css" asp-append-version="true" />
</head>
<body>
    <header>

        <nav class="navbar navbar-expand-lg navbar-light bg-light border-2 border-bottom border-dark">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Media Center</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                 @if (User.IsInRole("user"))
                {
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                        <ul id="categoriesContainer" class="navbar-nav flex-grow-1"></ul>

                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link active" asp-area="" asp-controller="User" asp-action="WatchLater">Watch Later List</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" asp-area="" asp-controller="User" asp-action="Favorites">Favorites List</a>
                            </li>
                        </ul>
                        <a class="btn link-success" id="loadProfileModal">
                            <img src="~/icons/profile.svg" />
                        </a>
                        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Profile</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div id="profileInfoModel">
                                        <!-- Partial view content will be loaded here -->
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                }
               

            </div>
        </nav>


    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - Media Center
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @if (User.IsInRole("user"))
    {
        <script>
            $('#loadProfileModal').click(function () {
                $('#profileInfoModel').load('/User/LoadProfileModal', function () {
                    $('#exampleModal').modal('show');
                });
            });
        </script>
        <script>
            $(document).ready(function () {
                $.ajax({
                    url: '@Url.Action("LoadCategories", "media")', // Replace with actual controller name
                    method: 'GET',
                    success: function (data) {
                        $('#categoriesContainer').html(data);
                    },
                    error: function () {
                        alert('Failed to load categories');
                    }
                });
            });
        </script>
    }
    
    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>
